[Service]
Description=Immich redis

[Container]
Pod=immich.pod
ContainerName=%N
Image=docker.io/valkey/valkey:9@sha256:3b55fbaa0cd93cf0d9d961f405e4dfcc70efe325e2d84da207a0a8e6d8fde4f9
NoNewPrivileges=true

HealthCmd=redis-cli ping || exit 1
HealthTimeout=30s

[Service]
TimeoutStartSec=900
