[Unit]
Description=Immich Machine Learning

[Container]
Pod=immich.pod
ContainerName=%N
Image=ghcr.io/immich-app/immich-machine-learning:release
NoNewPrivileges=true

Volume=ml-model-cache:/cache:rw
Volume=ml-model-dotcache:/usr/src/.cache:rw
Volume=ml-config:/usr/src/.config:rw

[Service]
EnvironmentFile=/run/secrets/immich.env
TimeoutStartSec=900
