[Unit]
Description=Immich server
Requires=immich-db.service immich-redis.service

[Container]
Pod=immich.pod
ContainerName=%N
Image=ghcr.io/immich-app/immich-server:release
NoNewPrivileges=true

EnvironmentFile=/run/secrets/immich.env
Volume=${UPLOAD_LOCATION}:/data:rw
Volume=/etc/localtime:/etc/localtime:ro

[Service]
EnvironmentFile=/run/secrets/immich.env
TimeoutStartSec=900
