{
        auto_https off
}

:80
    # General settings
    encode zstd gzip
    header {
        -Server
        -X-Powered-By

        # enable HSTS
        Strict-Transport-Security max-age=31536000;

        # disable clients from sniffing the media type
        X-Content-Type-Options nosniff

        # keep referrer data off of HTTP connections
        Referrer-Policy no-referrer-when-downgrade
    }

    root * /var/www/davis/public
    php_fastcgi davis-app:9000 {
                # Preserve the original X-Forwarded-Proto from upstream, as it might be HTTPS
                header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
                header_up X-Forwarded-Host {http.request.header.X-Forwarded-Host}
                header_up X-Forwarded-For {http.request.header.X-Forwarded-For}
        }

    file_server {
hide .git .gitignore
}

	redir /.well-known/caldav  /dav/
	redir /.well-known/carddav /dav/

        
