[Unit]
Description=Cloudflare Tunnel

[Container]
ContainerName=%N
Image=docker.io/cloudflare/cloudflared:latest
Exec=tunnel --no-autoupdate run
EnvironmentFile=/run/secrets/cf-creds

[Service]
Restart=always

[Install]
WantedBy=default.target

